* {
  margin:0;
  padding:0;  
}

#canvas1 {
    position: absolute;
}

.controls{
    display: flex;
    position: absolute;
    z-index: 100;
    width: 100%;
}

img{
    display: none;
}

button{
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: 'Montserrat';
    color: white;
    background-color: black;
    transition: .3s;
    border-radius: 7px;
}

button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}